<div class="row" id="slidingbanner">
<div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:450px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
            <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="assets/images/spin.svg" />
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:380px;overflow:hidden;">
            <div data-b="0">
                <img data-u="image" src="assets/images/img_one.png" alt="Pay less for a Samsung Phone you will love, A lot less." />
                <div style="position:absolute;top:270px;float:left;left:0px;width:100%;height:auto;z-index:0;">
                    <div data-u="caption" data-t="0" style="position:absolute;float:left;top:-300px;left:0px; height:45px; padding-left:20px; padding-right:20px; background-color:rgba(0,0,0,0.7); color:#fff; width:100%; z-index:0; font-size:30px;">12 Days, 12 Deals Starting December 12th <div style="float:right"><button style="background-color:#f47200; color:#fff; padding:7px; font-size:15px; font-weight:bold; border-radius:4px; border:none">Visit the Holiday Sale Shop</button></div></div>
                    <div data-u="caption" data-t="0" style="position:absolute;float:left;top:-255px;left:0px; height:30px; padding-left:20px; padding-right:20px; background-color:rgba(0,0,0,0.7);color:#fff; width:100%; z-index:0; font-size:18px;">More time to focus on what really matters this holiday season</div>
                </div>
            </div>
            <div data-b="0">
                <img data-u="image" src="assets/images/img_two.png" />
                  <div style="position:absolute;top:250px;float:left;left:0px;width:100%;height:auto;z-index:0;">
                      <div data-u="caption" data-t="2" style="position:absolute;float:left;top:0px;left:200px; padding-bottom:11px; height:45px; padding-left:20px; padding-right:20px; background-color:rgba(0,0,0,0.7); color:#fff; width:100%; z-index:0; font-size:30px;">Everything you need. Nothing you don't. <div style="float:right"><button style="background-color:#f47200; color:#fff; padding:7px; font-size:15px; font-weight:bold; border-radius:4px; border:none">Start Saving</button></div></div>
                      <div data-u="caption" data-t="2" style="position:absolute;float:left;top:45px;left:200px; padding-bottom:10px;height:30px; padding-left:20px; padding-right:20px; background-color:rgba(0,0,0,0.7);color:#fff; width:100%; z-index:0; font-size:18px;">Switch & Get Great Wireless Service with talk, text & data as low as $15/month</div>
                      <div data-u="caption" data-t="2" style="position:absolute;float:left;top:86px;left:200px; padding-left:20px; color:#000; width:100%; z-index:0; font-size:9px;">Phone and plan sold separately.  Service plan required for activation.  Smartphone plans do not triple.</div>
                  </div>
            </div>
            <div data-b="0">
                <img data-u="image" src="assets/images/img_three.png" />
                  <div style="position:absolute;top:245px;float:left;left:-200px;width:100%;height:auto;z-index:0;">
                      <div data-u="caption" data-t="1" style="position:absolute;float:left;top:0px;left:0px; padding-bottom:10px; height:45px; padding-left:20px; padding-right:20px; background-color:rgba(0,0,0,0.7); color:#fff; width:100%; z-index:0; font-size:30px;">Pay less for a Samsung Phone you will love, A lot less.<div style="float:right"><button style="background-color:#f47200; color:#fff; padding:7px; font-size:15px; font-weight:bold; border-radius:4px; border:none">Buy Now</button></div></div>
                      <div data-u="caption" data-t="1" style="position:absolute;float:left;top:45px;left:0px; padding-bottom:10px;height:35px; padding-left:20px; padding-right:20px; background-color:rgba(0,0,0,0.7);color:#fff; width:100%; z-index:0; font-size:18px;">While supplies last on Select Samsung devices</div>
                      <div data-u="caption" data-t="1" style="position:absolute;float:left;top:86px;left:0px; padding-left:20px; color:#000; width:100%; z-index:0; font-size:9px;">While supplies last. Purchase amount does not include taxes or accessories.  All overnight orders must be placed before 3pm EST for next day delivery.  Saturday and Sunday excluded.</div>
                  </div>
            </div>
            <div data-b="0">
                <img data-u="image" src="assets/images/img_four.png" />
                  <div data-u="caption" data-t="13" style="position:absolute; float:right; right:270px; top:90px; font-size:24px; border:solid 6px yellow; text-align:center; font-weight:bold; color:#fff; background-color:red; width:100px; height:100px; padding-top:10px; line-height:15px; border-radius:100px"><span style="font-size:14px; line-height:15px">Promo Code</span><br/>48711</div><div style="position:absolute;top:245px;float:left;left:-200px;width:100%;height:auto;z-index:0;">
                      <div data-u="caption" data-t="1" style="position:absolute;float:left;top:0px;left:0px; padding-bottom:10px; height:45px; padding-left:20px; padding-right:20px; background-color:rgba(0,0,0,0.7); color:#fff; width:100%; z-index:0; font-size:30px;">New Year, More Minutes<div style="float:right"><button style="background-color:#f47200; color:#fff; padding:7px; font-size:15px; font-weight:bold; border-radius:4px; border:none">Buy Now</button></div></div>
                      <div data-u="caption" data-t="1" style="position:absolute;float:left;top:45px;left:0px; padding-bottom:10px;height:35px; padding-left:20px; padding-right:20px; background-color:rgba(0,0,0,0.7);color:#fff; width:100%; z-index:0; font-size:18px;">Add the 200-Minute Card and receive 40 Bonus Minutes with Promo Code 48711</div>
                      <div data-u="caption" data-t="1" style="position:absolute;float:left;top:80px;left:0px; padding-left:20px; color:#fff; width:96%; z-index:0; font-size:9px;">This promotion begins January 4th, 2018 and ends January 31st, 2018.  Promo Codes are valid for one-time use.  Promo Codes cannot be combined with other discount offers.  Promo Codes have no cash value.  The Double Minute benefits and the Triple Minute benefit do not apply to Minutes that have not been purchased, such as Bonus Minutes provided with a special Tracfone Promo Code for Bonus Minutes automatically added to the Tracfone.  Promo Codes are not available for smartphones.</div>
                  </div>
            </div>
        </div>
        
            <div id="navlinks" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="position:relative;left:250px;top:400px;color:#000;">
                <div class="row no_padding">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 text-center">Holiday Deals</div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 text-center">Why Switch?</div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 text-center">Samsung Phones</div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 text-center">200 Card</div>
            </div>
          </div>
        
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb101" style="position:absolute;top:380px;" data-autocenter="1" data-scale="1" data-scale-bottom="1">
            <div data-u="prototype" class="i" style="width:200px;height:15px;">
                <svg style="position:absolute;top:0px;left:0;width:100%;height:100%;">
                   <rect class="co" width="200" height="15" style="fill:rgba(0, 0, 0, 0.5)"></rect>
                   <rect class="ci" width="200" height="15" style="fill:rgba(255, 255, 255, 0.1)"></rect>
                </svg>
                <!-- <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;"> -->
                    <!-- <circle class="co" cx="8000" cy="8000" r="5000"></circle> -->
                    <!-- <circle class="ci" cx="8000" cy="8000" r="3000"></circle> -->
                <!-- </svg> -->
            </div>
        </div>
        <!-- Arrow Navigator -->
        <div data-u="arrowleft" class="jssora051" style="width:55px;height:55px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
            <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
            </svg>
        </div>
        <div data-u="arrowright" class="jssora051" style="width:55px;height:55px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
            <svg viewBox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
            </svg>
        </div>
    </div>
</div>
    <!-- #endregion Jssor Slider End -->


<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 thumbnail">
    <div class="col-lg-1 col-md-1"></div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 thumbnailview">
        <div class="thumb-heading">PHONES FROM BRANDS YOU TRUST</div>
        <div class="thumb-content">
            <div class="text-center"><img src="assets/images/img-menu_phones_new.png" width="100" /></div>
            <p>From smartphones to more basic options, TracFone has something for everyone.</p>
            <button class="btn btn-primary">Shop Now</button>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 thumbnailview">
        <div class="thumb-heading">LOVE YOUR SMARTPHONE? KEEP IT!</div>
      <div class="thumb-content">
          <div class="text-center"><img src="assets/images/img-menu_byop_new.png" width="100" /></div>
          <p>Bring Your Own Smartphone and enjoy Nationwide 4G LTE † Coverage.</p>
          <button class="btn btn-primary">Learn More</button>
          <p class="copyright">† Requires a compatible or unlocked 4G LTE smartphone. Actual availability, coverage, and speed may vary. LTE is a trademark of ETSI. SIM and plan sold separately.</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 thumbnailview">
        <div class="thumb-heading">EXPERIENCE WIRELESS FREEDOM</div>
      <div class="thumb-content">
          <div class="text-center"><img src="assets/images/ico_wirelesscontract_new.png" width="100" /></div>
          <p>You don’t want to be locked into a contract,that’s why TracFone doesn’t have them.</p>
          <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
    <div class="col-lg-1 col-md-1"></div>
  </div>
</div>

<div class="row bodycontent">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <ul>
          <li class="pghead">ABOUT TRACFONE</li>
          <li><a href="#">Why Tracfone?</a></li>
          <li><a href="#">How it Works?</a></li>
          <li><a href="#">Coverage Map</a></li>
          <li><a href="#">Find a Store</a></li>
          <li><a href="#">Careers</a></li>
        </ul>  
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <ul>
            <li class="pghead">CURRENT CUSTOMER</li>
            <li><a href="#">Refill</a></li>
            <li><a href="#">Auto-Refill</a></li>
            <li><a href="#">Track My Order</a></li>
            <li><a href="#">Get Support</a></li>
            <li><a href="#">My Account</a></li>
          </ul>  
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <ul>
            <li class="pghead">SHOP</li>
            <li><a href="#">Phones</a></li>
            <li><a href="#">Airtime Service Plans</a></li>
            <li><a href="#">Bring Your Own Phone</a></li>
            <li><a href="#">Protect Your Phone</a></li>
            <li><a href="#">International Long Distance</a></li>
            <li><a href="#">TracFone Extras</a></li>
          </ul>  
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <ul>
            <li>
              <input type="text"><button class="btn btn-primary" name="go">GO</button>
            </li>
            <li>
              <p>By entering your email address and submitting this form, you agree to receive information, offers and promotions regarding Tracfone products and services. You acknowledge being at least 13 years of age.</p>
            </li>
            <li><a href="#">Feedback</a></li>
            <li class="pghead">Connect with Us</li>
          </ul>  
      </div>
    </div>
</div>